.no-sidebar .wrapper {
    display: flex;
    flex-direction: column;
}

.no-sidebar .main-content {
    margin-left: 0 !important;
    width: 100% !important;
}

.no-sidebar .collapseSidebar {
    display: none !important;
}